<% include ../common/head.ejs%>
<% include ../common/header.ejs%>
<% include ../common/navigation.ejs%>
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <%- body %>     
    </div>
</div>
<!-- /page content -->
<% include ../common/footer.ejs%>
