                <footer>
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
            </div>
        </div>
        <script src="<%=host%>/js/jquery.min.js"></script>
        <script src="<%=host%>/js/bootstrap.min.js"></script>
        <script src="<%=host%>/js/custom.js"></script>
    </body>
</html>