<% include ../common/head.ejs%>
  <% include ../common/header.ejs%>
    <% include ../common/navigation.ejs%>
      <div class="right_col" role="main">
        <div class="">
          <div class="row">           
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                    <h2>Update Profile</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <% if (messages.success) { %>
                      <div class="alert alert-success"><%- messages.success %></div>
                    <% } %>
                    <% if (messages.error) { %>
                      <div class="alert alert-danger"><%- messages.error %></div>
                    <% } %>
                  <br />
                  <form id="add-customer" action="/customer/profile" method="POST" enctype="multipart/form-data" class="form-horizontal form-label-left">
                    <div class="form-group">
                      <input type="file" name="profile_pic" value="Upload Picture">
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <a class="btn btn-primary" href="/customer/list-customers" >Cancel</a>
                        <button type="reset" class="btn btn-primary">Reset</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% include ../common/footer.ejs%>
      <script>
        $(function(){
          $('#myDatepicker').datetimepicker({
              format: 'DD-MM-YYYY'
          });
          
        })
      </script>